function Main.main 1
call ShootWallGame.newInstance 0
pop temp 0
call ShootWallGame.getInstance 0
pop local 0
push local 0
call ShootWallGame.start 1
pop temp 0
push local 0
call ShootWallGame.dispose 1
pop temp 0
push constant 0
return
